In [ ]:
import pandas as pd
import pymysql

# 데이터 읽기
location_data = pd.read_csv('../data/meteorological/location.csv')

# MySQL 연결
conn = pymysql.connect(host='localhost', user='root', password='1234', database='wuc3')
cursor = conn.cursor()

# locations 테이블에 데이터 삽입 (location_id를 제외)
for _, row in location_data.iterrows():
    cursor.execute(
        "INSERT INTO locations (name, latitude, longitude) VALUES (%s, %s, %s)",
        (row['(현)지점명'], row['위도'], row['경도'])
    )

conn.commit()
conn.close()

In [18]:
import pymysql

conn = pymysql.connect(
    host='211.209.122.36',  # MySQL 서버의 공인 IP 또는 로컬 네트워크 IP
    user='wucuser', # MySQL 사용자 이름
    password='1234', # MySQL 비밀번호
    database='wuc3',      # 데이터베이스 이름
    port=3306             # MySQL 포트
)

cursor = conn.cursor()
print("Successfully connected!")
conn.close()

Successfully connected!

In [ ]:
import pandas as pd
import numpy as np

# 예제 데이터 불러오기 (CSV 파일에서 수정 필요)
location_data = pd.read_csv('../data/meteorological/location.csv') 

# 결측치 제거 (위도와 경도가 없는 경우 제외)
location_data = location_data.dropna(subset=['위도', '경도'])

# 1. 위도를 기준으로 정렬
location_data = location_data.sort_values(by='위도').reset_index(drop=True)

# 2. 그룹 ID 생성
total_stations = len(location_data)
group_size = 10
num_groups = (total_stations // group_size) + (1 if total_stations % group_size > 0 else 0)

# 각 행에 그룹 ID를 할당
location_data['GroupID'] = (location_data.index // group_size) + 1

# 3. 결과 출력
print(location_data)

# 그룹별 개수 확인
print(location_data['GroupID'].value_counts())

# 결과 저장
location_data.to_csv('../data/meteorological/grouped_location_data.csv', index=False)  # 결과 파일 저장

97
    지점번호                 시작시각 (현)지점명                 (현)주소        위도  \
0    189  1961.01.01 00:00:00    서귀포      제주특별자치도 서귀포시 서귀동  33.24616
1    185  1988.01.01 00:00:00     고산   제주특별자치도 제주시 한경면 고산리  33.29382
2    188  1971.07.15 00:00:00     성산  제주특별자치도 서귀포시 성산읍 신산리  33.38677
3    184  1923.05.01 00:00:00     제주       제주특별자치도 제주시 건입동  33.51411
4    170  1971.01.31 00:00:00     완도      전라남도 완도군 군외면 불목리  34.39590
5    268  2014.05.09 21:15:00    진도군      전라남도 진도군 진도읍 남동리  34.47296
6    261  1971.02.03 00:00:00     해남      전라남도 해남군 해남읍 남천리  34.55375
7    262  1972.01.22 00:00:00     고흥      전라남도 고흥군 고흥읍 행정리  34.61826
8    259  2009.11.10 00:00:00    강진군      전라남도 강진군 강진읍 남포리  34.64457
9    169  1997.01.01 00:00:00    흑산도       전라남도 신안군 흑산면 예리  34.68719
10   260  1972.01.21 00:00:00     장흥      전라남도 장흥군 장흥읍 축내리  34.68886
11   168  1942.03.01 00:00:00     여수          전라남도 여수시 중앙동  34.73929
12   258  2010.02.08 00:00:00    보성군      전라남도 보성군 득량면 예당리  34.76335
13   295  1972.01.24 00:00:00     남해      경상남도 남해군 이동면 다정리  34.81662
14   165  1904.04.08 00:00:00     목포          전라남도 목포시 연산동  34.81732
15   162  1968.01.01 00:00:00     통영          경상남도 통영시 정량동  34.84541
16   294  1972.01.24 00:00:00     거제      경상남도 거제시 신현읍 장평리  34.88818
17   266  2011.01.01 00:00:00    광양시           전라남도 광양시 중동  34.94340
18   174  2011.04.01 00:00:00     순천      전라남도 순천시 승주읍 평중리  35.02040
19   159  1904.04.09 00:00:00     부산        부산광역시 중구 대청동1가  35.10468
20   192  1969.03.01 00:00:00     진주          경상남도 진주시 평거동  35.16378
21   155  1985.07.01 00:00:00     창원    경상남도 창원시 마산합포구 가포동  35.17019
22   156  1939.05.01 00:00:00     광주          광주광역시 북구 운암동  35.17294
23   296  2023.01.11 00:00:00    북부산                   NaN  35.21778
24   255  2008.12.26 00:00:00    북창원           경상남도 창원시 내동  35.22655
25   253  2008.02.13 14:00:00    김해시          경상남도 김해시 부원동  35.22981
26   252  2007.11.26 00:00:00    영광군      전라남도 영광군 군서면 만곡리  35.28366
27   257  2008.12.26 00:00:00    양산시       경상남도 양산시 동면 금산리  35.30737
28   263  2010.06.21 00:00:00    의령군      경상남도 의령군 의령읍 무전리  35.32258
29   172  2010.12.01 00:00:00     고창      전라북도 고창군 대산면 매산리  35.34824
30   254  2008.07.16 20:00:00    순창군      전라북도 순창군 순창읍 교성리  35.37131
31   289  1972.03.30 00:00:00     산청       경상남도 산청군 산청읍 지리  35.41300
32   247  1972.01.04 00:00:00     남원          전라북도 남원시 도통동  35.42130
33   251  2007.11.01 00:00:00    고창군      전라북도 고창군 고창읍 덕산리  35.42661
34   288  1973.01.01 00:00:00     밀양          경상남도 밀양시 내이동  35.49147
35   264  2010.06.21 00:00:00    함양군      경상남도 함양군 함양읍 용평리  35.51138
36   245  1970.01.05 00:00:00     정읍           전라북도 정읍시 상동  35.56337
37   285  1973.01.01 00:00:00     합천      경상남도 합천군 합천읍 합천리  35.56505
38   152  1932.01.06 00:00:00     울산          울산광역시 중구 북정동  35.58237
39   244  1970.06.02 00:00:00     임실      전라북도 임실군 임실읍 이도리  35.61203
40   248  1988.01.01 00:00:00     장수      전라북도 장수군 장수읍 선창리  35.65696
41   284  1972.01.24 00:00:00     거창      경상남도 거창군 거창읍 정장리  35.66739
42   243  1972.03.01 00:00:00     부안       전라북도 부안군 행안면 역리  35.72961
43   283  2010.08.06 00:00:00    경주시           경상북도 경주시 탑동  35.81740
44   146  1918.06.23 00:00:00     전주     전라북도 전주시덕진구 덕진동2가  35.84092
45   143  1907.01.31 00:00:00     대구          대구광역시 동구 효목동  35.87797
46   281  1972.01.21 00:00:00     영천          경상북도 영천시 망정동  35.97742
47   140  1968.01.01 00:00:00     군산          전라북도 군산시 내흥동  36.00530
48   138  1943.01.01 00:00:00     포항        경상북도 포항시남구 송도동  36.03201
49   238  1972.01.09 00:00:00     금산      충청남도 금산군 금산읍 아인리  36.10563
50   279  1973.01.01 00:00:00     구미          경상북도 구미시 남통동  36.13055
51   135  1937.01.11 00:00:00    추풍령      충청북도 영동군 추풍령면 관리  36.22025
52   236  1972.01.09 00:00:00     부여      충청남도 부여군 부여읍 가탑리  36.27242
53   235  1972.01.24 00:00:00     보령          충청남도 보령시 요암동  36.32724
54   278  1973.01.01 00:00:00     의성      경상북도 의성군 의성읍 원당리  36.35610
55   133  1969.01.01 00:00:00     대전         대전광역시 유성구 구성동  36.37199
56   137  2002.01.01 00:00:00     상주          경상북도 상주시 낙양동  36.40837
57   276  2010.09.01 00:00:00    청송군          경상북도 청송군 청송읍  36.43510
58   239  2019.05.31 10:00:00     세종                   NaN  36.48522
59   226  1972.01.09 00:00:00     보은      충청북도 보은군 보은읍 성주리  36.48761
60   277  1972.01.03 00:00:00     영덕      경상북도 영덕군 영해면 성내리  36.53337
61   136  1973.01.01 00:00:00     안동          경상북도 안동시 운안동  36.57293
62   273  1973.01.01 00:00:00     문경          경상북도 문경시 유곡동  36.62727
63   131  1967.01.01 00:00:00     청주       충청북도 청주시흥덕구 복대동  36.63924
64   181  2022.01.21 00:00:00    서청주                   NaN  36.63994
65   177  2015.11.03 15:00:00     홍성                   NaN  36.65759
66   232  1972.01.08 00:00:00     천안          충청남도 천안시 신방동  36.76217
67   129  1968.01.01 00:00:00     서산          충청남도 서산시 수석동  36.77658
68   272  1972.11.28 00:00:00     영주      경상북도 영주시 풍기읍 성내리  36.87183
69   271  1988.01.01 00:00:00     봉화      경상북도 봉화군 춘양면 의양리  36.94361
70   127  1972.01.01 00:00:00     충주          충청북도 충주시 안림동  36.97045
71   130  1971.01.12 00:00:00     울진      경상북도 울진군 울진읍 연지리  36.99176
72   221  1972.01.11 00:00:00     제천          충청북도 제천시 신월동  37.15928
73   216  1985.08.01 00:00:00     태백           강원도 태백시 황지동  37.17038
74   121  1994.12.01 00:00:00     영월       강원도 영월군 영월읍 하송리  37.18126
75   119  1964.01.01 00:00:00     수원       경기도 수원시 권선구 서둔동  37.25746
76   203  1972.01.11 00:00:00     이천       경기도 이천시 부발읍 신하리  37.26399
77   114  1971.09.06 00:00:00     원주           강원도 원주시 명륜동  37.33749
78   217  2010.08.06 00:00:00    정선군       강원도 정선군 정선읍 북실리  37.37732
79   112  1904.08.29 00:00:00     인천           인천광역시 중구 전동  37.47772
80   115  1938.08.10 00:00:00    울릉도      경상북도 울릉군 울릉읍 도동리  37.48129
81   202  1972.01.11 00:00:00     양평       경기도 양평군 양평읍 양근리  37.48863
82   106  1992.05.01 00:00:00     동해           강원도 동해시 용정동  37.50709
83   108  1907.10.01 00:00:00     서울         서울특별시 종로구 송월동  37.57142
84   100  1971.07.15 00:00:00    대관령      강원도 평창군 대관령면 횡계리  37.67713
85   212  1971.09.27 00:00:00     홍천       강원도 홍천군 홍천읍 연봉리  37.68360
86   201  1972.01.11 00:00:00     강화     인천광역시 강화군 불은면 삼성리  37.70739
87   105  1911.10.03 00:00:00     강릉           강원도 강릉시 용강동  37.75147
88   104  2008.07.28 09:00:00    북강릉       강원도 강릉시 사천면 방동리  37.80456
89    99  2001.12.07 00:00:00     파주       경기도 파주시 문산읍 운천리  37.88589
90    98  1998.02.01 00:00:00    동두천          경기도 동두천시 생연동  37.90188
91   101  1966.01.01 00:00:00     춘천           강원도 춘천시 우두동  37.90262
92    93  2016.10.01 00:00:00    북춘천                   NaN  37.94738
93   102  2000.11.01 00:00:00    백령도     인천광역시 옹진군 백령면 연화리  37.97396
94   211  1971.12.01 00:00:00     인제       강원도 인제군 인제읍 남북리  38.05986
95    95  1988.01.01 00:00:00     철원       강원도 철원군 갈말읍 군탄리  38.14787
96    90  1968.01.01 00:00:00     속초       강원도 고성군 토성면 봉포리  38.25085

           경도  GroupID
0   126.56530        1
1   126.16283        1
2   126.88020        1
3   126.52969        1
4   126.70182        1
5   126.25846        1
6   126.56907        1
7   127.27572        1
8   126.78408        1
9   125.45105        1
10  126.91951        2
11  127.74063        2
12  127.21226        2
13  127.92641        2
14  126.38151        2
15  128.43561        2
16  128.60458        2
17  127.69140        2
18  127.36940        2
19  129.03203        2
20  128.04004        3
21  128.57281        3
22  126.89156        3
23  128.96024        3
24  128.67260        3
25  128.89075        3
26  126.47784        3
27  129.02010        3
28  128.28812        3
29  126.59900        3
30  127.12860        4
31  127.87910        4
32  127.39652        4
33  126.69700        4
34  128.74413        4
35  127.74538        4
36  126.83904        4
37  128.16994        4
38  129.33469        4
39  127.28556        4
40  127.52031        5
41  127.90990        5
42  126.71657        5
43  129.20090        5
44  127.11718        5
45  128.65295        5
46  128.95140        5
47  126.76135        5
48  129.38002        5
49  127.48175        5
50  128.32056        6
51  127.99458        6
52  126.92079        6
53  126.55744        6
54  128.68864        6
55  127.37210        6
56  128.15741        6
57  129.04005        6
58  127.24438        6
59  127.73415        6
60  129.40926        7
61  128.70734        7
62  128.14879        7
63  127.44066        7
64  127.38458        7
65  126.68772        7
66  127.29282        7
67  126.49390        7
68  128.51688        7
69  128.91449        7
70  127.95250        8
71  129.41278        8
72  128.19434        8
73  128.98929        8
74  128.45743        8
75  126.98300        8
76  127.48421        8
77  127.94659        8
78  128.67348        8
79  126.62490        8
80  130.89864        9
81  127.49446        9
82  129.12433        9
83  126.96580        9
84  128.71834        9
85  127.88043        9
86  126.44634        9
87  128.89099        9
88  128.85535        9
89  126.76648        9
90  127.06070       10
91  127.73570       10
92  127.75443       10
93  124.71237       10
94  128.16714       10
95  127.30420       10
96  128.56473       10
GroupID
1     10
2     10
3     10
4     10
5     10
6     10
7     10
8     10
9     10
10     7
Name: count, dtype: int64

In [53]:
# import pandas as pd
# import matplotlib.pyplot as plt

# # hadCRUT5 데이터 예제
# hadcrut5_data = pd.read_csv('../data/meteorological/hadcrut5.csv') 

# # 우리나라 데이터 예제
# korea_data = pd.read_csv(
#     '../data/meteorological/korea_ta.csv',
#     encoding='cp949',       # 파일의 인코딩 지정
#     sep=',',                # 구분자 확인
#     on_bad_lines='skip',    # 잘못된 행 건너뛰기
#     na_values=['', ' ', 'NA', 'N/A'],  # 결측값으로 처리할 값
#     skip_blank_lines=True   # 빈 줄 건너뛰기
# )

# # 날짜 형식 변환
# korea_data['날짜'] = pd.to_datetime(korea_data['날짜'])
# korea_data['월'] = korea_data['날짜'].dt.to_period('M')  # 월 단위

# # 기준년도 필터링 (1961~1990)
# # 여기서는 가상의 1961~1990 데이터를 사용한다고 가정
# baseline_data = korea_data[
#     (korea_data['날짜'] >= '1961-01-01') & (korea_data['날짜'] <= '1990-12-31')
# ]
# baseline_mean_temp = baseline_data['평균기온(℃)'].mean()

# print("기준년도 평균 기온:", baseline_mean_temp)

# # 월별 평균 기온 계산
# korea_monthly = korea_data.groupby('월')['평균기온(℃)'].mean().reset_index()

# # 온도 차이 (Anomaly) 계산
# korea_monthly['Anomaly (deg C)'] = korea_monthly['평균기온(℃)'] - baseline_mean_temp

# # 결과
# print(korea_monthly)


# # hadCRUT5 데이터와 병합 준비 (연월 기준)
# korea_monthly['Time'] = korea_monthly['월'].dt.strftime('%Y-%m')
# comparison_data = pd.merge(hadcrut5_data, korea_monthly, on='Time', how='inner')

# print(comparison_data)



# # 시각화
# plt.plot(korea_monthly['월'], korea_monthly['Anomaly (deg C)'], label='Korea (Anomaly)')
# plt.plot(hadcrut5_data['Time'], hadcrut5_data['Anomaly (deg C)'], label='Global (Anomaly)')

# plt.xlabel('Time')
# plt.ylabel('Temperature Anomaly (°C)')
# plt.title('Korea vs. Global Temperature Anomalies')
# plt.legend()
# plt.show()